@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.scrollButtons {
  @include centerFlex(flex, row, space-between, center, 0.5rem);
  @include width(100%, 100%);
  @include height(3rem, 3rem);
  padding: 0 1.2rem 2rem 1.12rem;
  .scrollButtonsContainer {
    @include centerFlex(flex, row, flex-end, center, 0);
    @include width(5rem, 5rem);
    margin-top: 0.2rem;
  }
  button {
    @include width(2.5rem, 2.5rem);
    @include height(2rem, 2rem);
    @include button(transparent, none);
    .arrow {
      @include width(2.5rem, 2.5rem);
      @include height(2rem, 2rem);
      filter: drop-shadow(-3px 0.5px 0px #090e09);
    }
  }
}

.arrowDown {
  @include width(2.5rem, 2.5rem);
  @include height(2rem, 2rem);
}