@mixin centerFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerFlexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin centerFlexColumnStart() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin width() {
  min-width: 100%;
  max-width: 100%;
}

@mixin height() {
  min-height: 100vh;
  max-height: 100vh;
}

@mixin controllersContainer() {
  min-height: 26.616vh;
  max-height: 26.616vh;
}

@mixin viewContainer() {
  min-height: 64.616vh;
  max-height: 64.616vh;
}
