@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=VT323&display=swap');

$primary-color: #D3DEB3;
$secondary-color: #567B53;
$third-color: #1A2D19;
$font-color: #1A2D19;
$primary-blue: #04325B;
$secondary-blue: #084e8b;
$black: #070707;
$primary-font: 'VT323', monospace;