@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.buttonBContainer {
  @include centerFlex(flex, row, flex-end, center, 0);
  @include width(100%, 100%);
  .buttonB {
    @include centerFlex(flex, row, space-between, center, 0);
    @include width(8.5rem, 8.5rem);
    @include height(3rem, 3rem);
    padding: 0 0.3rem;
    border: none;
    background-color: $secondary-color;
    cursor: pointer;
    .buttonBImage {
      @include width(2rem, 2rem);
      @include height(2rem, 2rem);
      filter: drop-shadow(-1.5px 1px 0px #090e09);
    }
    .backText {
      color: $primary-color;
      font-family: $primary-font;
      font-size: $primary-size;
      font-weight: 600;
      padding-left: 0.4rem;
    }
  }
}