@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionContact {
  @include centerFlex(flex, column, flex-start, center, 0);
  @include height(57vh, 57vh);
  background-color: $primary-color;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 5px 0px 0px $third-color;
  -moz-box-shadow: inset 0px 5px 0px 0px $third-color;
  box-shadow: inset 5px 5px 0px 0px $third-color;
}

.infoContainer {
  @include centerFlex(flex, column, space-between, center, 0);
  @include width(100%, 100%);
  @include height(57vh, 57vh);
  font-family: $primary-font;
  color: $font-color;
  padding: 0.3rem 0 0 0.313rem;
  cursor: default;
  .contactContainer {
    @include width(100%, 100%);
    h1 {
      @include width(100%, 100%);
      background-color: $secondary-color;
      color: $primary-color;
      text-align: center;
      font-size: $primary-size;
      font-weight: 600;
      margin-bottom: 1.3rem;
      padding: 0.5rem 0 0.5rem 0.313rem;
    }
  }
}

.textContainer {
  @include centerFlex(flex, column, flex-start, center, 0.5rem);
  @include height(37vh, 37vh);
  @include width(100%, 100%);
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 1.2rem;
  &::-webkit-scrollbar {
    width: 0.1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-color;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
  }
}

.option {
  @include centerFlex(flex, row, flex-start, center, 0.8rem);
  @include width(100%, 100%);
  @include height(3rem, 3rem);
  @include button($secondary-color, none);
  font-family: $primary-font;
  color: $primary-color;
  position: relative;
  font-size: $primary-size;
  font-weight: 600;
  padding-left: 1rem;
  .iconImage {
    @include height(2rem, 2rem);
    filter: drop-shadow(-1.5px 1px 0px #090e09);
  }
  .AButton {
    @include height(2rem, 2rem);
    position: absolute;
    right: 1.1rem;
    filter: drop-shadow(-1.5px 1px 0px #090e09);
  }
}

.hidden {
  @include centerFlex(flex, row, flex-start, center, 0.8rem);
  @include width(100%, 100%);
  @include height(3rem, 3rem);
  @include button($primary-color, none);
  font-family: $primary-font;
  color: $font-color;
  position: relative;
  font-size: $primary-size;
  font-weight: 600;
  padding-left: 1rem;
  .iconImage {
    @include height(2rem, 2rem);
  }
  .AButton {
    visibility: hidden;
  }
}
