@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionController {
  @include controllersContainer();
  @include width(100%, 100%);
}

.controllersContainer {
  @include centerFlex(flex, row, center, center, 0);
  @include controllersContainer();
}

.centerButtons,
.sideButtons {
  @include width(2.096rem, 2.096rem);
}

.rowButtons {
  width: 100%;
  height: 6.2082rem;
  @include centerFlex(flex, row, center, center, 0);
}

.sideButtons {
  display: flex;
  align-items: center;
}

.buttonLeft,
.buttonRight {
  @include darkBackground(#565e6a);
  width: 100%;
  height: 2rem;
  background-color: #565e6a;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.centerButtons {
  @include height(6.2081rem, 6.2081rem);
  @include centerFlex(flex, column, center, center, 0);
}

.buttonDown,
.buttonUp,
.emptyCenter {
  @include width(100%, 100%);
  @include height(2.069rem, 2.069rem);
  @include darkBackground(#565e6a);
  background-color: #565e6a;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.buttonUp {
  border-top: 0.25rem solid $black;
  border-left: 0.25rem solid $black;
  border-right: 0.25rem solid $black;
  @media (prefers-color-scheme: dark) {
    border-top: 0.25rem solid $black;
    border-left: 0.25rem solid $black;
    border-right: 0.25rem solid $black;
  }
  border-radius: 5px 5px 0px 0px;
  position: relative;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
  &:active {
    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
      background: linear-gradient(to top, #565e6a 0%, #333 100%);
    }
    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to top, #565e6a 0%, #333 100%);
  }
}

.buttonDown {
  border-bottom: 0.25rem solid $black;
  border-left: 0.25rem solid $black;
  border-right: 0.25rem solid $black;
  @media (prefers-color-scheme: dark) {
    border-bottom: 0.25rem solid $black;
    border-left: 0.25rem solid $black;
    border-right: 0.25rem solid $black;
  }
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px -2.5px 0px #888 inset;
  position: relative;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
  &:active {
    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.75);
      background: linear-gradient(to bottom, #565e6a 0%, #333 100%);
    }
    box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to bottom, #565e6a 0%, #333 100%);
  }
}

.buttonRight {
  border-top: 0.25rem solid $black;
  border-bottom: 0.25rem solid $black;
  border-right: 0.25rem solid $black;
  @media (prefers-color-scheme: dark) {
    border-top: 0.25rem solid $black;
    border-bottom: 0.25rem solid $black;
    border-right: 0.25rem solid $black;
  }
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px -2.5px 0px #888 inset;
  position: relative;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
  &:active {
    @media (prefers-color-scheme: dark) {
      box-shadow: inset -5px -5px 5px -5px rgba(0, 0, 0, 0.75);
      background: linear-gradient(to right, #565e6a 0%, #333 100%);
    }
    box-shadow: inset -5px -5px 5px -5px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right, #565e6a 0%, #333 100%);
  }
}

.buttonLeft {
  border-top: 0.25rem solid $black;
  border-left: 0.25rem solid $black;
  border-bottom: 0.25rem solid $black;
  @media (prefers-color-scheme: dark) {
    border-top: 0.25rem solid $black;
    border-left: 0.25rem solid $black;
    border-bottom: 0.25rem solid $black;
  }
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px -2.5px 0px #888 inset;
  position: relative;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
  &:active {
    @media (prefers-color-scheme: dark) {
      box-shadow: inset 5px -5px 5px -5px rgba(0, 0, 0, 0.75);
      background: linear-gradient(to left, #565e6a 0%, #333 100%);
    }
    box-shadow: inset 5px -5px 5px -5px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to left, #565e6a 0%, #333 100%);
  }
}

.buttonImg {
  @include darkColor(#292929);
  position: absolute;
  color: #292929;
  z-index: 3;
  width: 1.7rem;
  height: 1.7rem;
  top: 0;
  right: -0.09rem;
}

.left {
  transform: rotate(-90deg);
  top: -0.2rem;
  right: 0.1rem;
}

.right {
  transform: rotate(90deg);
  top: -0.2rem;
  right: 0;
}

.down {
  transform: rotate(180deg);
  top: 0;
  right: -0.09rem;
}

.emptyCenter {
  position: relative;
  cursor: default;
}

.innerSquare {
  @include darkBackground($black);
  width: 0.25rem;
  height: 0.28rem;
  background-color: $black;
  position: absolute;
}

.topLeft {
  top: 0;
  left: 0;
  border-radius: 0 0 5px 0;
}

.topRight {
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
}

.bottomLeft {
  @include darkShadow(0px -2.5px 0px #888);
  bottom: 0;
  left: 0;
  border-radius: 0 5px 0 0;
  box-shadow: 0px -2.5px 0px #888;
}

.bottomRight {
  @include darkShadow(0px -2.5px 0px #888);
  bottom: 0;
  right: 0;
  border-radius: 5px 0 0 0;
  box-shadow: 0px -2.5px 0px #888;
}

.controllers1,
.controllers2,
.controllers3 {
  @include controllersContainer();
  @include width(6.291rem, 6.291rem);
  padding-top: 1rem;
}

.controllers1 {
  @include centerFlex(flex, row, center, flex-start, 0);
}

.centerButtons2 {
  @include width(100%, 100%);
  @include centerFlex(flex, row, center, flex-end, 0.5rem);
  @include controllersContainer();
  padding-bottom: 1rem;
}

.buttonsCenter,
.blue,
.red,
.orange,
.purple {
  @include darkBackground(#d9d9d9);
  @include darkBorder(2px solid #0f0e0f);
  @include darkShadow(0px -2px 1px #064b8b);
  width: 2rem;
  height: 1.2rem;
  border-radius: 0.5rem;
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      to bottom,
      #0f0e0f 0%,
      #0f0e0f 30%,
      #62636c 70%,
      #62636c 100%
    );
  }
  background: linear-gradient(
    to bottom,
    #0f0e0f 0%,
    #0f0e0f 30%,
    #62636c 70%,
    #62636c 100%
  );
  background-repeat: no-repeat;
  border: 2px solid #0f0e0f;
  box-shadow: 0px -2px 1px #064b8b;
  &:active {
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
        to bottom,
        #0f0e0f 0%,
        #0f0e0f 50%,
        #62636c 100%
      );
    }
    background: linear-gradient(
      to bottom,
      #0f0e0f 0%,
      #0f0e0f 50%,
      #62636c 100%
    );
  }
}

.red {
  @include darkShadow(0px -2px 1px #b10f0f);
  box-shadow: 0px -2px 1px #b10f0f;
}

.orange {
  @include darkShadow(0px -2px 1px #db7d30);
  box-shadow: 0px -2px 1px #db7d30;
}

.purple {
  @include darkShadow(0px -2px 1px #5a1cbd);
  box-shadow: 0px -2px 1px #5a1cbd;
}

.circleButtonContainer {
  @include centerFlex(flex, row, center, flex-start, 1.3rem);
  height: 4.4rem;
}

.circleButtonContainer2 {
  @include centerFlex(flex, row, center, flex-start, 0);
  width: 2.5rem;
  height: 100%;
}

.circleButtonContainer1 {
  @include centerFlex(flex, row, center, flex-end, 0);
  width: 2.5rem;
  height: 100%;
}

.circleButton1,
.circleButton2 {
  width: 100%;
  height: 2.5rem;
  border-radius: 100%;
  border: none;
  @media (prefers-color-scheme: dark) {
    background-color: #2c313e;
    border-bottom: 2px solid #888;
    box-shadow: -1px 1px 5px $black, 0px 0px 5px $black inset;
    text-shadow: 0px -1px 1px #888;
    color: $black;
  }
  background-color: #2c313e;
  border-bottom: 2px solid #888;
  box-shadow: -1px 1px 5px $black, 0px 0px 5px $black inset;
  text-shadow: 0px -1px 1px #888;
  color: $black;
  text-align: center;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out,
    line-height 0.2s ease-out;
  line-height: 2.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &:active {
    @include darkShadow((-1px 1px 1px $black, 0px 0px 5px $black inset));
    box-shadow: -1px 1px 1px $black, 0px 0px 5px $black inset;
    border-width: 0px;
    line-height: 45px;
  }
}

.start,
.select {
  @include centerFlex(flex, column, center, center, 0.3rem);
}

.startTextBlue,
.selectTextBlue {
  @media (prefers-color-scheme: dark) {
    text-shadow: 0px 1px 1px #00182e;
    color: $secondary-blue;
  }
  text-shadow: 0px 1px 1px #00182e;
  color: $secondary-blue;
  letter-spacing: -1px;
  font-size: 16px;
  text-align: center;
}

.startTextRed,
.selectTextRed {
  @media (prefers-color-scheme: dark) {
    text-shadow: 0px 1px 1px #2e0000;
    color: $secondary-red;
  }
  text-shadow: 0px 1px 1px #2e0000;
  color: $secondary-red;
  letter-spacing: -1px;
  font-size: 16px;
  text-align: center;
}

.startTextOrange,
.selectTextOrange {
  @media (prefers-color-scheme: dark) {
    text-shadow: 0px 1px 1px #2e1600;
    color: $secondary-orange;
  }
  text-shadow: 0px 1px 1px #2e1600;
  color: $secondary-orange;
  letter-spacing: -1px;
  font-size: 16px;
  text-align: center;
}

.startTextPurple,
.selectTextPurple {
  @media (prefers-color-scheme: dark) {
    text-shadow: 0px 1px 1px #14002e;
    color: $secondary-purple;
  }
  text-shadow: 0px 1px 1px #14002e;
  color: $secondary-purple;
  letter-spacing: -1px;
  font-size: 16px;
  text-align: center;
}
