@import "./styles/variables.scss";
@import "./styles/mixins.scss";

.mainGameboy {
  @include centerFlex(flex, column, flex-end, center, 3vh);
  @include height(100vh, 100vh);
  padding: 1rem 1rem;
}

@media (prefers-color-scheme: dark) {
  .backgroundBlue {
    background-color: $primary-blue;
  }

  .backgroundRed {
    background-color: $primary-red;
  }

  .backgroundOrange {
    background-color: $primary-orange;
  }

  .backgroundPurple {
    background-color: $primary-purple;
  }
}

.backgroundBlue {
  background-color: $primary-blue;
}

.backgroundRed {
  background-color: $primary-red;
}

.backgroundOrange {
  background-color: $primary-orange;
}

.backgroundPurple {
  background-color: $primary-purple;
}

.sectionGameboy {
  @include height(64.616vh, 64.616vh);
  @include width(100%, 100%);
}

.viewContainer {
  @include height(64.616vh, 64.616vh);
  position: relative;
  @media (prefers-color-scheme: dark) {
    background-color: #131314;
  }
  background-color: #131314;
  padding: 1rem;
  border-radius: 7px 7px 25px 25px;
}
